* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #2e4057;
    margin: 0;
}

.patterns {
    height: 100vh;
}

svg text {
    font-family: Lora;
    letter-spacing: 10px;
    stroke: #ffa5d8;
    font-size: 150px;
    font-weight: 700;
    stroke-width: 3;
    animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
        fill: hsl(189, 68%, 75%)
    }

    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffstet: -20%;
        fill: hsla(189, 68%, 75%,0%)
    }
}

text {
    text-decoration: underline;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    position: absolute;
    top: 44%;
    left: 9%;
    cursor: pointer;
}

.whiteboard {
    width: 300px;
    height: 300px;
    background: lightblue;
    /* transition: width 2s, height 2s; */
    transition:1s;
    border-radius: 20px;
}

.whiteboard:hover {
    width: 350px;
    height: 350px;
    box-shadow: 0 4px 15px 0 rgb(65 132 234 / 75%);
}

.shareboard {
    width: 300px;
    height: 300px;
    background: lightblue;
    /* transition: width 2s, height 2s; */
    transition:1s;
    border-radius: 20px;
}

.shareboard:hover {
    width: 350px;
    height: 350px;
    box-shadow: 0 4px 15px 0 rgb(65 132 234 / 75%);
}

.play {
    width: 300px;
    height: 300px;
    background: lightblue;
    transition:1s;
    border-radius: 20px;
}

.play:hover {
    width: 310px;
    height: 310px;
    box-shadow: 0 4px 15px 0 rgb(65 132 234 / 75%);
}

.btn-hover {
    width: 70%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 47px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 15px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
}

.bt {
    margin-top: 8%;
}

.plug-board{
    position: absolute;
    width: 4%;
    left: 47%;
    top: 25%;
}
.plug-game{
    position: absolute;
    width: 4%;
    right: 11%;
    top: 25%;
}
.brd{
    width: 160px;
    margin-left: 23%;
    margin-top: 14%;
}

.rightspace {
    width: 50%;
    margin-left: 39px;
    /* padding: 60px; */
}

.chat-container {
    height: 100vh;
    /* display: flex; */
    /* background: lightgray; */
    width: 137%;
}

.right-view {
    width: 75%;
    height: 100%;
    background: aliceblue;
}

.chat-window {
    height: 90%;
    padding: 10px;
    width: 100%;
    overflow: hidden;
}

.chat {
    color: black;
    min-height: 30px;
    border-radius: 10px;
    padding: 6px;
    margin-top: 15px;
    width: 233px;
    clear: both;
    word-break: break-all;
    /* border: 1px solid grey; */
    margin-right: 30;
    margin-left: 5px;
}

.left {
    background: lightgray;
    display: flex;
    align-items: center;
}

.right {
    background: lightblue;
    display: flex;
    align-items: center;
    float: right;
    margin-right: 62px;
}

.join {
    /* background: #3498db; */
    /* width: 77%; */
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3498db;
}

.leave {
    /* background: #e74c3c; */
    /* width: 80%; */
    margin: auto;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.chat-input-box {
    height: 10%;
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: 1px solid lightgray; */
}

.chat-input-box input {
    color: black;
    height: 60%;
    width: 80%;
    outline: none;
    border: 1px solid grey;
    border-radius: 15px;
    /* font-size: 1.2rem; */
    padding: 10px;
    background: white;
    /* color: white; */
}

/* .background{

} */